@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html,
body {
    background-color: #2a3742;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body::-webkit-scrollbar-thumb{
    background: #374957;
    border-radius: 20px;
}

#left-side::-webkit-scrollbar-thumb, #right-side::-webkit-scrollbar-thumb{
    background: #374957;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
  
#left-side::-webkit-scrollbar,  #right-side::-webkit-scrollbar{
    width: 6px;
}

body::-webkit-scrollbar{
    width: 2px;
}